$background_color: rgb(241, 241, 241);
$background_color2: white;
$nav_color: white;
// text color 
$font_color: black;
$font_color2: white;
$font_color3: rgb(62, 103, 117);
$font_color4: sandybrown;
// li color 
$li_color: rgb(208, 208, 208);
// headimg color 
$heading_color: sandybrown;
// button color 
$button_color: sandybrown;
$button_color2: rgb(216, 178, 145);
// footer color 
$footer_color: black;